.hamburgerMenu {
 display: flex;
 flex-direction: column;
 /* gap: var(--hamburger-gap); */
 justify-content: space-between;
 width: max-content;
 height: var(--hamburger-height);
 align-self: center;
 cursor: pointer;
 background-color: blue;
}


.hamburgerMenu::before,
.hamburgerMenu::after,
.hamburgerMenu input {
 content: "";
 width: var(--bar-width);
 height: var(--bar-height);
 background-color: var(--hamburger-color);
 border-radius: 999px;
 transform-origin: var(--transform-origin);
 transition: opactity var(--animation-timing), width var(--animation-timing);
}

.hamburgerMenu:has(input:checked)::before {
 rotate: -45deg;
 width: var(--x-height);
 translate: 0 calc(var(--bar-height) / -2);
}

.hamburgerMenu:has(input:checked)::after {
 rotate: 45deg;
 width: var(--x-height);
 translate: 0 calc(var(--bar-height) / 2);
}

.hamburgerMenu input {
 appearance: none;
 padding: 0;
 margin: 0;
 outline: none;
 pointer-events: none;
}

.hamburgerMenu input:checked {
 opacity: 0;
 width: 0;
}